 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-group-1 {
  width: 747px;
  min-height: 416px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 19px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  height: 50px;
  margin: 31px auto 0;
  padding: 11px 24px 11px 23px;
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 545px;
}

.u-section-2 .u-slider-1 {
  min-height: 497px;
  width: 763px;
  height: auto;
  margin: 48px auto 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-2 .u-image-1 {
  width: 173px;
  height: 173px;
  background-image: url("images/Bill_Gates_2017_cropped.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 22px 43px 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 22px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 9px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-2 .u-image-2 {
  width: 176px;
  height: 176px;
  background-image: url("images/Mark_Zuckerberg_F8_2019_Keynote_32830578717_cropped.jpg");
  background-position: 50% 50%;
  margin: 7px 209px 0 218px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 13px 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 7px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 13px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-2 .u-image-3 {
  width: 187px;
  height: 187px;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 22px 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 23px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-2 .u-image-4 {
  width: 195px;
  height: 187px;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px 0 0 auto;
}

.u-section-2 .u-text-11 {
  font-size: 2.25rem;
  margin: 8px auto 0;
}

.u-section-2 .u-text-12 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 8px 1px 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-2 .u-image-5 {
  width: 195px;
  height: 189px;
  margin: 10px auto 0;
}

.u-section-2 .u-text-13 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px auto 0 20px;
}

.u-section-2 .u-text-14 {
  font-size: 2.25rem;
  margin: 8px auto 0;
}

.u-section-2 .u-text-15 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 244px 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-2 .u-image-6 {
  width: 198px;
  height: 189px;
  margin: 0 auto 0 264px;
}

.u-section-2 .u-text-16 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 18px 62px 0;
}

.u-section-2 .u-text-17 {
  font-size: 2.25rem;
  width: 199px;
  margin: 10px auto 0;
}

.u-section-2 .u-text-18 {
  font-weight: 400;
  font-size: 1.25rem;
  width: 490px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 50px;
}

.u-section-2 .u-image-7 {
  width: 257px;
  height: 186px;
  margin: 0 205px 0 201px;
}

.u-section-2 .u-text-19 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 18px 13px 0;
}

.u-section-2 .u-text-20 {
  font-size: 2.25rem;
  width: 159px;
  margin: 10px auto 0;
}

.u-section-2 .u-text-21 {
  font-weight: 400;
  font-size: 1.25rem;
  width: 490px;
  margin: 0 auto;
}

.u-section-2 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-2 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    font-weight: 400;
  }

  .u-section-2 .u-text-6 {
    font-weight: 400;
  }

  .u-section-2 .u-image-4 {
    width: 187px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-2 .u-image-5 {
    width: 189px;
    margin-top: 34px;
  }

  .u-section-2 .u-text-15 {
    width: auto;
  }

  .u-section-2 .u-image-6 {
    width: 189px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-17 {
    width: auto;
    margin-right: 301px;
    margin-left: 263px;
  }

  .u-section-2 .u-image-7 {
    width: 186px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 5px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-17 {
    margin-right: 155px;
    margin-left: 238px;
  }

  .u-section-2 .u-text-18 {
    width: auto;
    margin-right: 106px;
    margin-left: 124px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-7 {
    margin-right: 204px;
    margin-left: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 436px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 168px;
    margin-left: 177px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-12 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-13 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-14 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-15 {
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-6 {
    margin-left: auto;
  }

  .u-section-2 .u-text-16 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-17 {
    font-size: 1rem;
    width: 94px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-18 {
    font-size: 1rem;
    width: 375px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-7 {
    margin-right: 134px;
    margin-left: 130px;
  }

  .u-section-2 .u-text-19 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-20 {
    font-size: 1rem;
    width: auto;
    margin-right: 143px;
    margin-left: 219px;
  }

  .u-section-2 .u-text-21 {
    font-size: 1rem;
    margin-top: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 489px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 68px;
    margin-left: 77px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-image-5 {
    margin-top: 58px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    margin-right: 60px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 99px;
    margin-left: 92px;
  }

  .u-section-2 .u-text-18 {
    width: 340px;
    margin-left: 92px;
  }

  .u-section-2 .u-image-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-20 {
    margin-left: 119px;
    margin-right: 43px;
  }

  .u-section-2 .u-text-21 {
    width: 320px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 652px;
}

.u-section-3 .u-text-1 {
  margin: 17px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 531px;
  width: 1036px;
  margin: 8px auto 43px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-gallery-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    width: 720px;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 25px;
    right: auto;
  }

  .u-section-3 .u-carousel-control-2 {
    left: auto;
    right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-4 {
  background-image: none;
  min-height: 1053px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 828px;
  margin: 53px auto 0;
}

.u-section-4 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 728px;
  margin: 39px auto 0;
}

.u-section-4 .u-shape-1 {
  height: 359px;
  margin-top: 134px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
}

.u-section-4 .u-list-1 {
  width: 1140px;
  margin: -447px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 572px;
  grid-gap: 30px 30px;
}

.u-section-4 .u-list-item-1 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-2 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 20px 14px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-3 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 20px 14px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-4 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-5 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px 20px 14px;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-6 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px;
}

.u-section-4 .u-text-13 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.875rem;
  background-image: none;
  border-style: solid;
  margin: 36px auto 53px;
  padding: 8px 73px 8px 72px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    animation-duration: 1500ms;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 20px));
    min-height: 472px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 840px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 2.625rem;
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-shape-1 {
    height: 641px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-shape-1 {
    height: 719px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 609px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  margin: 41px 80px 0;
}

.u-section-5 .u-image-1 {
  margin-top: 30px;
  margin-bottom: 41px;
  background-image: url("images/PXL_20230520_224131404.jpg");
  min-height: 463px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-5 .u-image-1 {
    width: 708px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-1 {
    min-height: 316px;
    width: 569px;
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-5 .u-text-1 {
    margin-left: -27px;
    margin-right: -27px;
  }

  .u-section-5 .u-image-1 {
    min-height: 201px;
    width: 384px;
    margin-left: -22px;
    margin-right: -22px;
  }
}